Repository planetarium/libplanet, pull requests merged in 2024-08, with the labels that each got.

#3910 ⚡ Removed unnecessary `ToBuilder()`
  src/Libplanet.Net/AppProtocolVersion.cs
  src/Libplanet.Store/Trie/KeyBytes.cs
Labels: no changelog

#3900 Bump dotnet to 8 in Libplanet SDK
  .circleci/config.yml
  .vscode/launch.json
  .vscode/settings.json
  global.json
  hooks/check-projects
  sdk/.editorconfig
  sdk/Directory.Build.props
  sdk/node/Libplanet.Node.Executable/Dockerfile
  sdk/node/Libplanet.Node.Executable/Program.cs
  sdk/node/Libplanet.Node.Executable/Properties/launchSettings.json
  sdk/node/Libplanet.Node.Executable/Services/GreeterService.cs
  sdk/node/Libplanet.Node/Services/SoloProposeService.cs
  sdk/stylecop.json
  tools/Libplanet.Explorer.Cocona/Libplanet.Explorer.Cocona.csproj
Labels: no changelog

#3897 🔧 fix: use cache instead of get block from store
  CHANGES.md
  tools/Libplanet.Explorer/Queries/BlockQuery.cs
  tools/Libplanet.Explorer/Queries/ExplorerQuery.cs
Labels: bug, explorer

#3918 chore: fix some comments
  src/Libplanet.Net/Protocols/IProtocol.cs
  src/Libplanet.Net/Protocols/KademliaProtocol.cs
  src/Libplanet.Types/Assets/FungibleAssetValue.cs
  test/Libplanet.Action.Tests/Common/DelayAction.cs
Labels: no changelog

#3909 Add Seed Service to SDK
  .circleci/config.yml
  .vscode/launch.json
  Libplanet.sln
  sdk/node/Libplanet.Node.Executable/Program.cs
  sdk/node/Libplanet.Node.Executable/Protos/greet.proto
  sdk/node/Libplanet.Node.Executable/Services/GreeterService.cs
  sdk/node/Libplanet.Node.Executable/appsettings.Development.json
  sdk/node/Libplanet.Node.Executable/appsettings.json
  sdk/node/Libplanet.Node.Extensions/LibplanetServicesExtensions.cs
  sdk/node/Libplanet.Node.Extensions/NodeBuilder/ILibplanetNodeBuilder.cs
  sdk/node/Libplanet.Node.Extensions/NodeBuilder/LibplanetNodeBuilder.cs
  sdk/node/Libplanet.Node.Tests/AsyncDisposerCollection.cs
  sdk/node/Libplanet.Node.Tests/DisposerCollection.cs
  sdk/node/Libplanet.Node.Tests/Libplanet.Node.Tests.csproj
  sdk/node/Libplanet.Node.Tests/RandomBoundPeer.cs
  sdk/node/Libplanet.Node.Tests/RandomEndPoint.cs
  sdk/node/Libplanet.Node.Tests/RandomPrivateKey.cs
  sdk/node/Libplanet.Node.Tests/Services/PeerTest.cs
  sdk/node/Libplanet.Node.Tests/Services/SeedTest.cs
  sdk/node/Libplanet.Node/AssemblyInfo.cs
  sdk/node/Libplanet.Node/EndPointUtility.cs
  sdk/node/Libplanet.Node/Libplanet.Node.csproj
  sdk/node/Libplanet.Node/Options/GenesisOptions.cs
  sdk/node/Libplanet.Node/Options/LibplanetOption.cs
  sdk/node/Libplanet.Node/Options/SeedOptions.cs
  sdk/node/Libplanet.Node/Options/SeedOptionsConfigurator.cs
  sdk/node/Libplanet.Node/Services/BlocksyncSeedService.cs
  sdk/node/Libplanet.Node/Services/ConsensusSeedService.cs
  sdk/node/Libplanet.Node/Services/IBlocksyncSeedService.cs
  sdk/node/Libplanet.Node/Services/IConsensusSeedService.cs
  sdk/node/Libplanet.Node/Services/Peer.cs
  sdk/node/Libplanet.Node/Services/PeerCollection.cs
  sdk/node/Libplanet.Node/Services/Seed.cs
  sdk/node/Libplanet.Node/Services/SeedMessageEventArgs.cs
  sdk/node/Libplanet.Node/Services/SeedServiceBase.cs
Labels: no changelog

#3919 Add json schema builder for appsettings.json
  sdk/node/Libplanet.Node.Executable/Program.cs
  sdk/node/Libplanet.Node.Executable/Protos/schema.proto
  sdk/node/Libplanet.Node.Executable/Services/SchemaGrpcService.cs
  sdk/node/Libplanet.Node.Executable/appsettings-schema.json
  sdk/node/Libplanet.Node.Executable/appsettings.Development.json
  sdk/node/Libplanet.Node.Executable/appsettings.json
  sdk/node/Libplanet.Node/Libplanet.Node.csproj
  sdk/node/Libplanet.Node/Options/GenesisOptions.cs
  sdk/node/Libplanet.Node/Options/NodeOptions.cs
  sdk/node/Libplanet.Node/Options/Schema/OptionsSchemaBuilder.cs
  sdk/node/Libplanet.Node/Options/SeedOptions.cs
  sdk/node/Libplanet.Node/Options/StoreOptions.cs
Labels: no changelog, sdk

#3929 Remove `Homebrew Cask` Guide
  tools/Libplanet.Tools/README.md
Labels: no changelog

#3920 ♻️ Refactor `GetDemandBlockHashes()`
  src/Libplanet.Net/Swarm.BlockCandidate.cs
  src/Libplanet.Net/Swarm.BlockSync.cs
  src/Libplanet.Net/Swarm.cs
  test/Libplanet.Net.Tests/SwarmTest.Preload.cs
  test/Libplanet.Net.Tests/SwarmTest.cs
Labels: no changelog

#3930 Explicit Services Configuration
  sdk/node/Libplanet.Node.Executable/Program.cs
  sdk/node/Libplanet.Node.Executable/Services/BlockChainGrpcService.cs
  sdk/node/Libplanet.Node.Executable/Services/SchemaGrpcService.cs
  sdk/node/Libplanet.Node.Executable/Services/SeedGrpcService.cs
  sdk/node/Libplanet.Node.Executable/appsettings-schema.json
  sdk/node/Libplanet.Node.Executable/appsettings.Development.json
  sdk/node/Libplanet.Node.Extensions/LibplanetServicesExtensions.cs
  sdk/node/Libplanet.Node.Extensions/NodeBuilder/ILibplanetNodeBuilder.cs
  sdk/node/Libplanet.Node.Extensions/NodeBuilder/LibplanetNodeBuilder.cs
  sdk/node/Libplanet.Node.Tests/Services/BlockChainServiceTest.cs
  sdk/node/Libplanet.Node.Tests/Services/NodeServiceTest.cs
  sdk/node/Libplanet.Node/DependencyInjection/GrpcAttribute.cs
  sdk/node/Libplanet.Node/DependencyInjection/SingletonAttribute.cs
  sdk/node/Libplanet.Node/Extensions/IEndpointRouteBuilderExtensions.cs
  sdk/node/Libplanet.Node/Extensions/ServiceCollectionExtensions.cs
  sdk/node/Libplanet.Node/Options/GenesisOptions.cs
  sdk/node/Libplanet.Node/Options/GenesisOptionsConfigurator.cs
  sdk/node/Libplanet.Node/Options/GenesisOptionsValidator.cs
  sdk/node/Libplanet.Node/Options/OptionsAttribute.cs
  sdk/node/Libplanet.Node/Options/Schema/OptionsSchemaBuilder.cs
  sdk/node/Libplanet.Node/Options/SeedOptions.cs
  sdk/node/Libplanet.Node/Options/SeedOptionsConfigurator.cs
  sdk/node/Libplanet.Node/Options/SeedOptionsValidator.cs
  sdk/node/Libplanet.Node/Options/SoloOptions.cs
  sdk/node/Libplanet.Node/Options/SoloOptionsConfigurator.cs
  sdk/node/Libplanet.Node/Options/SoloProposeOption.cs
  sdk/node/Libplanet.Node/Options/StoreOptions.cs
  sdk/node/Libplanet.Node/Options/StoreOptionsConfigurator.cs
  sdk/node/Libplanet.Node/Options/StoreOptionsValidator.cs
  sdk/node/Libplanet.Node/Options/SwarmOptions.cs
  sdk/node/Libplanet.Node/Options/SwarmOptionsConfigurator.cs
  sdk/node/Libplanet.Node/Options/SwarmOptionsValidator.cs
  sdk/node/Libplanet.Node/Options/ValidatorOptions.cs
  sdk/node/Libplanet.Node/Options/ValidatorOptionsConfigurator.cs
  sdk/node/Libplanet.Node/Options/ValidatorOptionsValidator.cs
  sdk/node/Libplanet.Node/ServiceUtility.cs
  sdk/node/Libplanet.Node/Services/BlockChainService.cs
  sdk/node/Libplanet.Node/Services/BlocksyncSeedService.cs
  sdk/node/Libplanet.Node/Services/ConsensusSeedService.cs
  sdk/node/Libplanet.Node/Services/PolicyService.cs
  sdk/node/Libplanet.Node/Services/ReadChainService.cs
  sdk/node/Libplanet.Node/Services/SeedServiceBase.cs
  sdk/node/Libplanet.Node/Services/SoloProposeService.cs
  sdk/node/Libplanet.Node/Services/SwarmService.cs
  sdk/node/Libplanet.Node/Services/TransactionService.cs
  sdk/node/Libplanet.Node/Services/ValidatorService.cs
Labels: no changelog, sdk

#3939 Improve option schema builder
  sdk/node/Libplanet.Node.Executable/appsettings-schema.json
  sdk/node/Libplanet.Node/DataAnnotations/ArrayAttribute.cs
  sdk/node/Libplanet.Node/Options/Schema/OptionsSchemaBuilder.cs
  sdk/node/Libplanet.Node/Options/Schema/OptionsSchemaGenerator.cs
  sdk/node/Libplanet.Node/Options/StoreType.cs
Labels: no changelog, sdk

#3933 Remove BoundPeerUtility
  sdk/node/Libplanet.Node.Executable/appsettings-schema.json
  sdk/node/Libplanet.Node/BoundPeerUtility.cs
  sdk/node/Libplanet.Node/DataAnnotations/BoundPeerAttribute.cs
  sdk/node/Libplanet.Node/DataAnnotations/DnsEndPointAttribute.cs
  sdk/node/Libplanet.Node/DataAnnotations/PublicKeyAttribute.cs
  sdk/node/Libplanet.Node/Services/SwarmService.cs
Labels: no changelog, sdk

#3927 Add Swagger and Explorer(GQL) service to sdk
  Libplanet.sln
  sdk/node/Libplanet.Node.Executable/Explorer/BlockChainContext.cs
  sdk/node/Libplanet.Node.Executable/Explorer/ExplorerExtensions.cs
  sdk/node/Libplanet.Node.Executable/Explorer/ExplorerOptions.cs
  sdk/node/Libplanet.Node.Executable/Libplanet.Node.Executable.csproj
  sdk/node/Libplanet.Node.Executable/Program.cs
  sdk/node/Libplanet.Node.Executable/Protos/blockchain.proto
  sdk/node/Libplanet.Node.Executable/Protos/schema.proto
  sdk/node/Libplanet.Node.Executable/Services/BlockChainGrpcServiceV1.cs
  sdk/node/Libplanet.Node.Executable/Services/SchemaGrpcServiceV1.cs
  sdk/node/Libplanet.Node.Executable/appsettings-schema.json
  sdk/node/Libplanet.Node.Executable/appsettings.Development.json
  sdk/node/Libplanet.Node.Extensions/LibplanetServicesExtensions.cs
  sdk/node/Libplanet.Node/Options/IEnabledOptions.cs
  sdk/node/Libplanet.Node/Options/SoloOptions.cs
  sdk/node/Libplanet.Node/Options/SwarmOptions.cs
  sdk/node/Libplanet.Node/Options/ValidatorOptions.cs
  sdk/node/Libplanet.Node/Services/ISwarmService.cs
  sdk/node/Libplanet.Node/Services/SwarmService.cs
Labels: no changelog, sdk
